*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
  width: 100%;
}


body{
  background: #333;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: 80%;
  min-height: 200px;
  border-radius: 1.1rem;

  max-width: 1080px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.7)
}

.body{
  padding: 2rem;
  background: #fff; 
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.title{
  font-size: 2.2rem;
  line-height: 3rem;
 
  background: #134666;
  color: #fff;
 

  padding: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.subtitle{
  font-size: .8rem;
  margin-bottom: -1.5rem;
}

.tagline{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}


.description{
  max-height: 20rem;
  overflow-y: auto;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


button{
  border: none;
  margin-right: 1rem;
  padding: .6rem 2rem;
  font-size: 1.4rem;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
  transition: box-shadown .3s, filter .3s;
}

button:hover{
  filter:   brightness(.9);
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.5);
}

.button--agree{
  background: green;
  color: #fff;
}

.button--disagree{
  background: red;
  color: #fff;
}


@media only screen and (max-width: 600px) {

 html{
    font-size: 12px;
  }
  

  .title{
    border-radius: 0;
  }
  .App{
    width: 100%;
    height: 100vh;


    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }


  .body{
    border-radius: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  }

  
  .subtitle{
    font-size: .9rem;
    margin-bottom: -1.5rem;
    letter-spacing: .1rem;
    
  }

  .description{
    max-height: 100vh;
    flex: 1;
    overflow-y: auto;
  }



}